{% extends 'layout.html' %} {% block style %}
<style>
#plot1 {
    position: relative;
    text-align: center;
}

#plot1 #info {
    position: absolute;
    border: 1px solid #ddd;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 15px;
    max-width: 400px;
    color: #ddd;
    font-size: 12px;
    text-align: left;
}
#plot1 #info h5 {
    margin-top: 0;
}
#plot1 #info h6 {
    color: #999;
    text-align: center;
}
#plot1 #info p {
    font-size: 12px;
    margin-bottom: 2px;
    color: #aaa;
    text-align: left;
}
#plot1 #info p:last-child {
    margin-bottom: 0;
}
#plot1 #info p span {
    color: #eee;
    margin-left: 10px;
}

#plot1 #index {
    position: absolute;
    top: -20px;
    right: 20px;
}

#plot1 #index .cell {
    padding: 8px;
    padding-left: 12px;
    color: rgb(90, 103, 121);
    background-color: #fff;
    font-size: 12px;
    z-index: 999;
    text-align: left;
    display: none;
}

#plot1 #index .cell:nth-of-type(2n) {
    background-color: rgb(250, 251, 253);
}

#plot1 #index .cell:nth-of-type(2n + 1) {
    background-color: rgb(255, 255, 255);
}

#plot1 #index .cell:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#plot1 #index .cell:hover {
    cursor: pointer;
    background-color: #50a3ba;
    color: #fff;
}

#plot1 #index input {
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    width: 180px;
    background-color: #444650;
    font-size: 12px;
}

#plot1 #index input:hover {
    cursor: pointer;
}

#plot1 #index.active input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#plot1 #info {
    display: none;
}
#plot1 circle:hover {
    cursor: pointer;
}

#plot2 {
    width: 100%;
    height: 500px;
    background-color: #30323c !important;
}
#plot3 {
    text-align: center;
    position: relative;
}
#plot3 img {
    padding: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 578px;
    height: 460px;
    margin-left: -289px;
    z-index: -999;
}
#plot3 #controller {
    position: absolute;
    display: block;
    left: 20px;
    top: 0px;
    font-size: 30px;
    color: #f2f2f2;
}
#plot3 #controller:hover {
    cursor: pointer;
}
#events {
    background-color: #444650;
    padding: 20px;
    border-radius: 4px;
    height: 420px;
    margin-top: 10px;
    overflow-y: scroll;
}
#events p {
    font-size: 12px;
    color: #999;
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #888;
}
#events p span {
    display: inline-block;
}
#plot3 circle.station:hover {
    cursor: pointer;
}
#plot4 {
    text-align: center;
    position: relative;
}
#plot4 #indicator {
    position: absolute;
    top: 14px;
    left: 120px;
}
#plot4 #indicator p {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
}
#plot4 #indicator span {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 13px;
    margin-right: 8px;
    border-radius: 2px;
}
#plot4 #indicator span:hover {
    cursor: pointer;
    border: 1.5px solid #ddd;
}
</style>
{% endblock %} {% block body %}
<h3 style="margin-left:20px;margin-bottom:0px;">水质问题同样不容 <span style="color:#d94e5d;">乐观</span></h3>
<div id="plot1">
	<svg width="1000" height="400">
		<g></g>
	</svg>
    <div id="index">
        <input type="text" class="form-control" value="PH值">
        <div class="cell" name="ph">PH值</div>
        <div class="cell" name="o2">溶解氧</div>
        <div class="cell" name="nh4">氨氮</div>
        <div class="cell" name="kmno4">高锰酸盐</div>
        <div class="cell" name="c">总有机碳</div>
    </div>
    <div id="info">
        <h5></h5>
        <h6></h6>
    </div>
</div>
<h3 style="text-align:center;margin-top:60px;margin-bottom:20px;">水质指标之间有何 <span style="color:#d94e5d;">关联</span></h3>
<div id="plot2"></div>
<h3 style="text-align:right;margin-top:60px;margin-bottom:20px;margin-right:20px;">水质指标异常事件 <span style="color:#d94e5d;">监测</span></h3>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div id="plot3">
            <img src="{{url_for('static', filename='img/china.png')}}" alt="">
            <span id="controller" class="fa fa-fw fa-play-circle"></span>
            <svg width="578" height="460">
                <g></g>
            </svg>
            <p style="position:absolute;top:28px;left:50%;margin-left:-48px;z-index:999;text-align:right;color:#999;font-size:12px;">异常事件空间分布</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div id="events" style="margin-right:20px;">
            <h5 style="margin-top:0;">事件列表<span style="margin-left:8px;color:#d94e5d;"></span></h5>
        </div>
    </div>
</div>   
<div id="plot4">
    <svg width="1000" height="200">
        <g></g>
    </svg>
    <div id="indicator">
        <p><span name="PH值" style="background-color:#ca635f;"></span>PH值</p>
        <p><span name="溶解氧" style="background-color:#e39782;"></span>溶解氧</p>
        <p><span name="氨氮" style="background-color:#e77b53;"></span>氨氮</p>
        <p><span name="总有机碳" style="background-color:#f2db9a;"></span>总有机碳</p>
    </div>
    <p style="position:absolute;top:10px;right:60px;z-index:999;text-align:right;color:#999;font-size:12px;">异常事件时间分布</p>
</div> 
<script>
$(document).ready(function() {
	$('#nav a').removeClass('active');
    $('#nav #nav2').addClass('active');

    var dataset = eval({{dataset | safe}});
    console.log(dataset);

    var p1_width = 1000;
    var p1_height = 400;
    var p1_margins = [30, 30, 50, 80];
    var p1_target = 'ph';
    var p1_data = [];
    for (var i = 0; i < dataset.json.water_point.data.length; i++) {
    	p1_data.push(i);
    }
    var tmp = d3.interpolate(d3.rgb(80, 163, 186), d3.rgb(234, 199, 54));
    var p1_colors = [];
    for (var i = 0; i < 19; i++) {
        p1_colors.push(tmp(i * 0.055));
    }
    var tmp = [];
    for (var key in dataset.json.water_point.rivers) {
        tmp.push([key, dataset.json.water_point.rivers[key]]);
    }

    d3.select('#plot1 svg g').selectAll('text.river').data(tmp).enter().append('text').attr({
        'font-size': 12,
        class: 'river',
        transform: function(d){
            return 'translate(' + (p1_margins[3] + parseFloat(d[1]) / 18 * parseFloat(p1_width - p1_margins[1] - p1_margins[3])) + ',' + (p1_height - 10) + ')';
        },
        'text-anchor': 'middle',
        'fill': '#f2f2f2'
    }).text(function(d){
        if (d[0] == '海南岛内河流') {
            return '海南内流';
        }
        return d[0];
    });
    d3.select('#plot1 svg g').selectAll('line.y').data(tmp).enter().append('line').attr({
        class: 'y',
        x1: function(d) {
            return p1_margins[3] + parseFloat(d[1]) / 18 * parseFloat(p1_width - p1_margins[1] - p1_margins[3]);
        },
        x2: function(d) {
            return p1_margins[3] + parseFloat(d[1]) / 18 * parseFloat(p1_width - p1_margins[1] - p1_margins[3]);
        },
        y1: 30,
        y2: p1_height - p1_margins[2],
        stroke: 'rgba(240, 240, 240, 0.2)',
        'stroke-width': 1,
        'shape-rendering': 'crispEdges',
    });
    var tmp = [];
    for (var i = 0; i < 8; i++) {
        tmp.push((dataset.json.water_point.min[p1_target] + i * (dataset.json.water_point.max[p1_target] - dataset.json.water_point.min[p1_target]) / 7).toFixed(2));
    }
    d3.select('#plot1 svg g').selectAll('text.y').data(tmp).enter().append('text').attr({
        'font-size': 12,
        class: 'y',
        transform: function(d, i){
            return 'translate(55,' + (p1_height - p1_margins[2] + 6 - i * (p1_height - p1_margins[0] - p1_margins[2]) / 7) + ')';
        },
        'text-anchor': 'end',
        'fill': '#f2f2f2'
    }).text(function(d){
        return d;
    });

    var p1_points = d3.select("#plot1 svg g").selectAll('circle').data(p1_data, function(d){
    	return d;
    });
    p1_points.enter().append('circle').attr({
    	cx: function(d){
    		d = dataset.json.water_point.data[d];
    		return p1_margins[3] + parseFloat(d['flowarea_id']) / 18 * parseFloat(p1_width - p1_margins[1] - p1_margins[3]);
    	},
    	cy: function(d){
    		d = dataset.json.water_point.data[d];
    		return p1_height - p1_margins[2] - (parseFloat(d[p1_target]) - dataset.json.water_point.min[p1_target]) / (dataset.json.water_point.max[p1_target] - dataset.json.water_point.min[p1_target])  * (p1_height - p1_margins[0] - p1_margins[2]);
    	},
    	r: function(d){
            d = dataset.json.water_point.data[d];
            return Math.log(d[p1_target + '_num']);
        },
    	'fill': function(d){
            d = dataset.json.water_point.data[d];
            return p1_colors[d['flowarea_id']];
        },
        name: function(d){
            d = dataset.json.water_point.data[d];
            return d['stationno'];
        }
    });

    function set_active_target(target) {
        p1_target = target;
        var tmp = [];
        for (var i = 0; i < 8; i++) {
            tmp.push((dataset.json.water_point.min[p1_target] + i * (dataset.json.water_point.max[p1_target] - dataset.json.water_point.min[p1_target]) / 7).toFixed(2));
        }
        d3.select('#plot1 svg g').selectAll('text.y').data(tmp).text(function(d){
            return d;
        });
        p1_points.transition().duration(1200).attr({
            cy: function(d){
                d = dataset.json.water_point.data[d];
                return p1_height - p1_margins[2] - (parseFloat(d[p1_target]) - dataset.json.water_point.min[p1_target]) / (dataset.json.water_point.max[p1_target] - dataset.json.water_point.min[p1_target])  * (p1_height - p1_margins[0] - p1_margins[2]);
            },
            r: function(d){
                d = dataset.json.water_point.data[d];
                return Math.log(d[p1_target + '_num']);
            },
        });
    }

    $('#plot1 #index input').click(function(event) {
        $('#plot1 #index').addClass('active');
        $('#plot1 #index .cell').show();
    });
    $('#plot1 #index .cell').click(function(event) {
        $('#plot1 #index').removeClass('active');
        $('#plot1 #index input').val($(this).text());
        $('#plot1 #index .cell').hide();
        set_active_target($(this).attr('name'));
    });

    $('#plot1 svg g').on('mouseenter', 'circle', function(event) {
        event.preventDefault();
        var name = $(this).attr('name');
        var $obj = $(this);
        var x = parseInt($obj.offset().left);
        var y = parseInt($obj.offset().top);
        p1_points.transition().duration(300).attr('r', function(d){
            d = dataset.json.water_point.data[d];
            if (d['stationno'] == name) {
                return 10;
            }
            else {
                return Math.log(d[p1_target + '_num']);
            }
        });
        for (var i = 0; i < dataset.json.water_point.data.length; i++) {
            if (dataset.json.water_point.data[i]['stationno'] == name) {
                $('#plot1 #info h5').text(dataset.json.water_point.data[i]['name']);
                $('#plot1 #info h6').text(dataset.json.water_point.data[i]['flowarea']).css('color', $(this).attr('fill'));
                $('#plot1 #info p').remove();
                $('#plot1 #info').append('<p>PH值<span>' + dataset.json.water_point.data[i]['ph'] + '</span>');
                $('#plot1 #info').append('<p>溶解氧<span>' + dataset.json.water_point.data[i]['o2'] + '</span>');
                $('#plot1 #info').append('<p>氨氮<span>' + dataset.json.water_point.data[i]['nh4'] + '</span>');
                $('#plot1 #info').append('<p>高锰酸盐<span>' + dataset.json.water_point.data[i]['kmno4'] + '</span>');
                $('#plot1 #info').append('<p>总有机碳<span>' + dataset.json.water_point.data[i]['c'] + '</span>');
                $('#plot1 #info').css({
                    left: x - 20,
                    top: y - $('#plot1').offset().top
                }).show();
            }
        }
        
    });

    $('#plot1 svg g').on('mouseleave', 'circle', function(event) {
        p1_points.transition().duration(300).attr('r', function(d){
            d = dataset.json.water_point.data[d];
            return Math.log(d[p1_target + '_num']);
        });
        $('#plot1 #info p').remove();
        $('#plot1 #info').hide();
    });

    var plot2 = echarts.init(document.getElementById('plot2'), 'dark');
    var schema = [{
        name: 'ph',
        index: 1,
        text: 'PH值'
    }, {
        name: 'o2',
        index: 2,
        text: '溶解氧'
    }, {
        name: 'nh4',
        index: 3,
        text: '氨氮'
    }, {
        name: 'c',
        index: 4,
        text: '总有机碳'
    }, {
        name: 'river',
        index: 5,
        text: '流域'
    }, {
        name: 'name',
        index: 6,
        text: '站点名称'
    }, {
        name: 'stationno',
        index: 7,
        text: '站点编号'
    }, {
        name: 'lng',
        index: 8,
        text: '经度'
    }, {
        name: 'lat',
        index: 9,
        text: '纬度'
    }];
    var p2_data = [];
    for (var i = 0; i < dataset.json.water_point.data.length; i++) {
        var d = dataset.json.water_point.data[i];
        p2_data.push([d['ph'], d['o2'], d['nh4'], d['c'], d['flowarea'], d['name'], d['stationno'], dataset.stations[d['stationno']]['lng'], dataset.stations[d['stationno']]['lat']]);
    }

    var CATEGORY_DIM_COUNT = 4;
    var GAP = 3;
    var BASE_LEFT = 20;
    var BASE_TOP = 10;
    // var GRID_WIDTH = 220;
    // var GRID_HEIGHT = 220;
    var GRID_WIDTH = (99 - BASE_LEFT - GAP) / CATEGORY_DIM_COUNT - GAP;
    var GRID_HEIGHT = (99 - BASE_TOP - GAP) / CATEGORY_DIM_COUNT - GAP;
    var CATEGORY_DIM = 4;
    var SYMBOL_SIZE = 3;

    function retrieveScatterData(data, dimX, dimY) {
        var result = [];
        for (var i = 0; i < data.length; i++) {
            var item = [data[i][dimX], data[i][dimY]];
            item[CATEGORY_DIM] = data[i][CATEGORY_DIM];
            result.push(item);
        }
        return result;
    }

    function generateGrids(option) {
        var index = 0;

        for (var i = 0; i < CATEGORY_DIM_COUNT; i++) {
            for (var j = 0; j < CATEGORY_DIM_COUNT; j++) {
                if (CATEGORY_DIM_COUNT - i + j >= CATEGORY_DIM_COUNT) {
                    continue;
                }

                option.grid.push({
                    left: BASE_LEFT + i * (GRID_WIDTH + GAP) + '%',
                    top: BASE_TOP + j * (GRID_HEIGHT + GAP) + '%',
                    width: GRID_WIDTH + '%',
                    height: GRID_HEIGHT + '%'
                });

                option.brush.xAxisIndex && option.brush.xAxisIndex.push(index);
                option.brush.yAxisIndex && option.brush.yAxisIndex.push(index);

                option.xAxis.push({
                    name: j === 0 ? schema[i].text : '',
                    nameLocation: 'middle',
                    nameGap: 30,
                    splitNumber: 3,
                    splitLine: {
                        show: false
                    },
                    position: 'top',
                    axisLine: {
                        show: j === 0,
                        // show: false,
                        onZero: false
                    },
                    axisTick: {
                        show: j === 0,
                        // show: false,
                        inside: true
                    },
                    axisLabel: {
                        show: j === 0
                        // show: false,
                    },
                    type: 'value',
                    gridIndex: index,
                    scale: true
                });

                option.yAxis.push({
                    name: i === CATEGORY_DIM_COUNT - 1 ? schema[j].text : '',
                    nameLocation: 'middle',
                    nameGap: 30,
                    splitNumber: 3,
                    splitLine: {
                        show: false
                    },
                    position: 'right',
                    axisLine: {
                        show: i === CATEGORY_DIM_COUNT - 1,
                        // show: false,
                        onZero: false
                    },
                    axisTick: {
                        show: i === CATEGORY_DIM_COUNT - 1,
                        // show: false,
                        inside: true
                    },
                    axisLabel: {
                        show: i === CATEGORY_DIM_COUNT - 1
                        // show: false
                    },
                    type: 'value',
                    gridIndex: index,
                    scale: true
                });

                option.series.push({
                    type: 'scatter',
                    symbolSize: SYMBOL_SIZE,
                    xAxisIndex: index,
                    yAxisIndex: index,
                    data: retrieveScatterData(p2_data, i, j)
                });

                option.visualMap.seriesIndex.push(option.series.length - 1);

                index++;
            }
        }
        plot2.setOption(option);
    }

    function merge_geo() {
        var tmp = [];
        for (var key in dataset.stations) {
            tmp.push([dataset.stations[key]['lng'], dataset.stations[key]['lat'], 0, 0, dataset.stations[key]['flowarea']]);
        }
        return tmp;
    }

    var tmp = [[], []];
    for (var key in dataset.json.water_point.rivers) {
        tmp[0].push(key);
        tmp[1].push(p1_colors[dataset.json.water_point.rivers[key]]);
    }
    var option2 = {
        animation: false,
        brush: {
            toolbox: [''],
            brushLink: 'all',
            xAxisIndex: [],
            yAxisIndex: [],
            inBrush: {
                opacity: 1
            },
            outOfBrush: {
                opacity: 0.03,
                color: '#ddd'
            }
        },
        visualMap: {
            type: 'piecewise',
            categories: tmp[0],
            dimension: CATEGORY_DIM,
            inRange: {
                color: tmp[1]
            },
            seriesIndex: [0, 1],
            outOfRange: {
                opacity: 0
            },
            show: false
        },
        parallelAxis: [{
            dim: 0,
            name: schema[0].text
        }, {
            dim: 1,
            name: schema[1].text
        }, {
            dim: 2,
            name: schema[2].text
        }, {
            dim: 3,
            name: schema[3].text
        }],
        geo: [{
            map: 'china',
            left: '4%',
            top: '4%',
            height: '210px',
            label: {
                emphasis: {
                    show: true,
                    textStyle: {
                        color: '#fff'
                    }
                }
            },
            roam: false,
            itemStyle: {
                normal: {
                    areaColor: '#454853',
                    borderColor: '#30323c'
                },
                emphasis: {
                    areaColor: '#454853'
                }
            },
        }],
        parallel: {
            top: '64%',
            left: '5%',
            height: '31%',
            width: '60%',
            parallelAxisDefault: {
                type: 'value',
                name: 'PH值',
                nameLocation: 'end',
                nameGap: 20,
                splitNumber: 3,
                nameTextStyle: {
                    fontSize: 14
                },
                axisLine: {
                    lineStyle: {
                        color: '#999'
                    }
                },
                axisTick: {
                    lineStyle: {
                        color: '#999'
                    }
                },
                splitLine: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#ddd'
                    }
                }
            }
        },
        grid: [],
        xAxis: [],
        yAxis: [],
        series: [{
            name: 'parallel',
            type: 'parallel',
            smooth: true,
            lineStyle: {
                normal: {
                    width: 1,
                    opacity: 0.3
                }
            },
            data: p2_data
        }, {
            type: 'scatter',
            coordinateSystem: 'geo',
            data: merge_geo(),
            symbolSize: 4,
        }]
    };

    generateGrids(option2);

    var p3_width = 578;
    var p3_height = 460;
    var p3_stations = [];
    var p3_stat = {};
    var p3_animation = false;
    for (var key in dataset.stations) {
        if (dataset.json.water_point.rivers.hasOwnProperty(dataset.stations[key]['flowarea'])) {
            p3_stations.push(key);
            p3_stat[key] = 0;
        }
    }
    var p3_colors = {
        'PH值': '#ca635f',
        '溶解氧': '#e39782',
        '氨氮': '#e77b53',
        '总有机碳': '#f2db9a'
    };
    d3.select('#plot3 svg g').selectAll('circle.event').data(dataset.json.water_event.data).enter().append('circle').attr({
        class: 'event',
        cx: function(d){
            p3_stat[d['stationno']] += 1;
            if (d['ratio'] <= 0.3 && (d['param'] == 'PH值' || d['param'] == '溶解氧')) {
                var ratio = '<span class="fa fa-fw fa-long-arrow-down" style="margin-left:4px;color:rgb(78, 217, 93);"></span>';
            }
            else {
                var ratio = '<span class="fa fa-fw fa-long-arrow-up" style="margin-left:4px;color:rgb(217, 78, 93);"></span>';
            }
            $('#events').append('<p class="' + d['stationno'] + '"><span style="color:#eee;margin-right:8px;">' + d['date'].substr(5) + '</span>' + d['station'] + '<span style="margin-left:8px;margin-right:8px;color:' + p1_colors[dataset.json.water_point.rivers[d['flowarea']]] + '">' + d['flowarea'] + '</span><span style="margin-right:8px;color:' + p3_colors[d['param']] + '">' + d['param'] + '</span>' + d['value'] + ratio + '</p>');
            return 30 + d['lng'] * (p3_width - 60);
        },
        cy: function(d){
            return p3_height - 30 - d['lat'] * (p3_height - 60);
        },
        stroke: function(d){
            return p1_colors[dataset.json.water_point.rivers[d['flowarea']]];
            // return p3_colors[d['param']];
        },
        fill: 'none',
        'stroke-width': '0px',
        r: 0,
        'opacity': 1
    });

    var p4_stat = {};
    var p4_width = 1000;
    var p4_height = 200;
    var p4_margins = [0, 18, 60, 18];
    d3.select('#plot4 svg g').selectAll('rect').data(dataset.json.water_event.data).enter().append('rect').attr({
        width: 4,
        height: 4,
        transform: function(d){
            if (!p4_stat.hasOwnProperty(d['timestamp'])) {
                p4_stat[d['timestamp']] = 0;
            }
            p4_stat[d['timestamp']] += 1;
            return 'translate(' + (p4_margins[3] - 2 + (parseFloat(d['timestamp']) - dataset.json.water_event.begintime) / (dataset.json.water_event.endtime - dataset.json.water_event.begintime) * (p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - p4_margins[2] - p4_stat[d['timestamp']] * 5) + ')';
        },
        fill: function(d){
            return p3_colors[d['param']];
        },
        opacity: 1
    });
    d3.select('#plot4 svg g').selectAll('text').data(dataset.json.water_event.timetexts).enter().append('text').attr({
        'font-size': 12,
        transform: function(d, i){
            return 'translate(' + (p4_margins[3] + parseFloat(i) / (dataset.json.water_event.timetexts.length - 1)  * parseFloat(p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - 35) + ')';
        },
        'text-anchor': 'middle',
        'fill': '#f2f2f2',
        'opacity': 1
    }).text(function(d){
        return d;
    });

    d3.select('#plot3 svg g').selectAll('circle.station').data(p3_stations).enter().append('circle').attr({
        class: 'station',
        cx: function(d){
            return 30 + (dataset.stations[d]['lng'] - 73.45) / (135.09 - 73.45) * (p3_width - 60);
        },
        cy: function(d){
            return p3_height - 30 - (dataset.stations[d]['lat'] - 18.211) / (53.558 - 18.211) * (p3_height - 60);
        },
        r: function(d){
            return Math.ceil(Math.log(p3_stat[d] + 1) + 1);
        },
        fill: function(d) {
            return p1_colors[dataset.json.water_point.rivers[dataset.stations[d]['flowarea']]];
        },
        name: function(d){
            return d;
        }
    });

    var p3_interval = 6000;
    $('#plot3 #controller').click(function(event) {
        p3_animation = true;
        $(this).fadeOut(400);
        $('#events p').fadeIn(400);
        $('#events h5 span').text(dataset.json.water_event.data.length);
        d3.select('#plot4 svg g').selectAll('rect').attr({
            opacity: 0,
            transform: function(d){
                return 'translate(' + (p4_margins[3] - 2 + (parseFloat(d['timestamp']) - dataset.json.water_event.begintime) / (dataset.json.water_event.endtime - dataset.json.water_event.begintime) * (p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - p4_margins[2]) + ')';
            },
        });
        d3.select('#plot4 svg g').selectAll('text').attr({
            opacity: 0,
            transform: function(d, i){
                return 'translate(' + (p4_margins[3] + parseFloat(i) / (dataset.json.water_event.timetexts.length - 1)  * parseFloat(p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - 10) + ')';
            },
        });
        setTimeout(function(){
            $('#plot3 #controller').fadeIn(400);
            d3.select('#plot3 svg g').selectAll('circle.event').attr({
                'stroke-width': '0px',
                r: 0,
                'opacity': 1
            });
            p3_animation = false;
        }, p3_interval + 1000);
        d3.select('#plot3 svg g').selectAll('circle.event').transition().delay(function(d) {
            return p3_interval * parseFloat(d['timestamp'] - dataset.json.water_event.begintime) / parseFloat(dataset.json.water_event.endtime - dataset.json.water_event.begintime);
        }).duration(800).attr({
            r: 30,
            'stroke-width': '5px',
            'opacity': 0
        });

        d3.select('#plot3 svg g').selectAll('circle.station').transition().duration(600).attr({
            r: function(d){
                return Math.ceil(Math.log(p3_stat[d] + 1) + 1); 
            },
            'fill-opacity': 1
        });

        p4_stat = {};
        d3.select('#plot4 svg g').selectAll('rect').transition().delay(function(d) {
            return p3_interval * parseFloat(d['timestamp'] - dataset.json.water_event.begintime) / parseFloat(dataset.json.water_event.endtime - dataset.json.water_event.begintime);
        }).duration(600).attr({
            opacity: 1,
            transform: function(d){
                if (!p4_stat.hasOwnProperty(d['timestamp'])) {
                    p4_stat[d['timestamp']] = 0;
                }
                p4_stat[d['timestamp']] += 1;
                return 'translate(' + (p4_margins[3] - 2 + (parseFloat(d['timestamp']) - dataset.json.water_event.begintime) / (dataset.json.water_event.endtime - dataset.json.water_event.begintime) * (p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - p4_margins[2] - p4_stat[d['timestamp']] * 5) + ')';
            },
        });

        d3.select('#plot4 svg g').selectAll('text').transition().delay(function(d, i) {
            return i * p3_interval / (dataset.json.water_event.timetexts.length - 1);
        }).duration(600).attr({
            opacity: 1,
            transform: function(d, i){
                return 'translate(' + (p4_margins[3] + parseFloat(i) / (dataset.json.water_event.timetexts.length - 1)  * parseFloat(p4_width - p4_margins[1] - p4_margins[3])) + ',' + (p4_height - 35) + ')';
            }
        });
    });

    $('#events h5 span').text(dataset.json.water_event.data.length);

    $('#plot3').on('click', 'circle.station', function(event) {
        event.preventDefault();
        if (!p3_animation) {
            var id = $(this).attr('name');
            $('#events p').hide();
            $('#events p.' + id).show();
            $('#events h5 span').text(p3_stat[id]);

            d3.select('#plot3 svg g').selectAll('circle.station').transition().duration(600).attr({
                r: function(d){
                    if (d == id) {
                        return 2 * Math.ceil(Math.log(p3_stat[d] + 1) + 1);
                    }
                    else {
                        return Math.ceil(Math.log(p3_stat[d] + 1) + 1);    
                    }
                },
                'fill-opacity': function(d){
                    if (d == id) {
                        return 1
                    }
                    else {
                        return 0.2;    
                    }
                },
            });

            d3.select('#plot4 svg g').selectAll('rect').transition().duration(600).attr({
                'opacity': function(d){
                    if (d['stationno'] == id) {
                        return 1
                    }
                    else {
                        return 0.05;    
                    }
                },
            });
        }
    });

    $('#plot4 #indicator p span').mouseenter(function(event) {
        var param = $(this).attr('name');
        if (!p3_animation) {
            d3.select('#plot4 svg g').selectAll('rect').attr('opacity', function(d){
                if (d['param'] == param) {
                    return 1;
                }
                else {
                    return 0.05;
                }
            });
        }
    });
    $('#plot4 #indicator p span').mouseleave(function(event) {
        if (!p3_animation) {
            d3.select('#plot4 svg g').selectAll('rect').attr('opacity', 1);
        }
    });
});
</script>
{% endblock %}