{% extends 'layout.html' %} {% block style %}
<style>
#plot1 {
    width: 980px;
    height: 660px;
    position: relative;
    margin: 0 auto;
}

#plot1 #img1,
#plot1 #img2,
#plot1 #img3,
#plot1 #img4 {
    position: absolute;
    z-index: -999;
}

#plot1 #img1 {
    left: 40px;
    top: 30px;
    height: 250px;
}

#plot1 #img2 {
    right: 40px;
    top: 30px;
    height: 250px;
}

#plot1 #img3 {
    left: 60px;
    bottom: 30px;
    width: 300px;
}

#plot1 #img4 {
    right: 60px;
    bottom: 30px;
    width: 300px;
}

#plot1 circle.rain:hover,
#plot1 circle.aqi:hover {
    cursor: pointer;
}

#clear, #clear2 {
    background-color: #444650;
    color: #fff;
    width: 120px;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
    padding: 10px 12px;
    text-align: center;
    border-radius: 4px;
    z-index: 999;
    border: 1px solid #444650;
    transition: color, background-color .3s;
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

#clear2 {
    top: 80px;
    margin-left: -20px;
}

#clear:hover, #clear2:hover {
    background: #30323c;
    border-color: #f2f2f2;
    cursor: pointer;
}

#plot1 #plot11 {
    width: 400px;
    height: 200px;
    background-color: transparent !important;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 250px;
    z-index: 9999;
}

#plot1 #legend3 {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 185px;
    margin-left: -107px;
    display: none;
}

#plot2, #plot4 {
    margin-top: 30px;
    margin-bottom: 40px;
}

#plot21,
#plot22 {
    width: 100%;
    height: 324px;
    position: absolute;
    top: 76px;
}

/*#plot22 {
    background-color: transparent !important;
}*/

#plot3 {
    width: 980px;
    height: 660px;
    position: relative;
    margin: 0 auto;
}

#plot3 rect.wind:hover {
    cursor: pointer;
}

#plot3 #plot31, #plot3 #plot32 {
    width: 500px;
    height: 160px;
    background-color: transparent !important;
    position: absolute;
    right: 40px;
    bottom: 230px;
    z-index: 9999;
}
#plot3 #plot32 {
    bottom: 40px;
}
#plot3 #plot3_date {
    position: absolute;
    top: 67px;
    right: 88px;
    font-size: 14px;
    color: #f2f2f2;
    z-index: 9999;
    display: none;
}
</style>
{% endblock %} {% block body %}
<h3 style="text-align:center;margin-bottom:0px;">一阵雨 让空气更 <span style="color:#d94e5d;">清新</span></h3>
<div style="position:relative;height:40px;">
    <div style="display:inline-block;position:absolute;top:0;left:4%;">
        <p style="margin-left:57px;">降雨频率</p>
        <div>
            <span style="font-size:12px;margin-right:8px;">高</span>
            <img src="{{url_for('static', filename='img/legend1.png')}}" alt="" style="width:120px;height:20px;">
            <span style="font-size:12px;margin-left:8px;">低</span>
        </div>
    </div>
    <div id="clear">清除选择</div>
    <div style="display:inline-block;position:absolute;top:0;right:4%;">
        <p style="margin-left:54px;">空气质量</p>
        <div>
            <span style="font-size:12px;margin-right:8px;">优</span>
            <img src="{{url_for('static', filename='img/legend2.png')}}" alt="" style="width:120px;height:20px;">
            <span style="font-size:12px;margin-left:8px;">差</span>
        </div>
    </div>
</div>
<div id="plot1">
    <img src="{{url_for('static', filename='img/shandong.png')}}" alt="" id="img1">
    <img src="{{url_for('static', filename='img/shandong1.png')}}" alt="" id="img2">
    <img src="{{url_for('static', filename='img/jiangsu.png')}}" alt="" id="img3">
    <img src="{{url_for('static', filename='img/jiangsu1.png')}}" alt="" id="img4">
    <svg width="980" height="660">
        <g></g>
    </svg>
    <div id="legend3">
        <span style="width:40px;height:12px;background-color:rgba(80, 163, 186, 0.8);display:inline-block;margin-right:8px;border-radius:2px;"></span>
        <span style="font-size:12px;color:#999;">降雨量</span>
        <span style="width:40px;height:12px;background-color:rgba(217, 78, 93, 0.8);display:inline-block;margin-left:20px;margin-right:8px;border-radius:2px;"></span>
        <span style="font-size:12px;color:#999;">空气质量</span>
    </div>
    <div id="plot11"></div>
</div>
<div id="plot2">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div style="height:400px;position:relative;">
                <h3 style="text-align:center;margin-bottom:40px;padding-top:10px;margin-top:0;">再来 更多更多的 <span style="color:#d94e5d;">雨</span></h3>
                <div id="plot21">
                    <p style="font-size:12px;color:#999;text-align:center;">将<span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">193</span>个 气象监测站</p>
                    <p style="font-size:12px;color:#999;text-align:center;">和附近的 空气监测站 <span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">进行匹配</span></p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;"><span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">847</span>对 站点匹配 <span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">2696</span>次 降雨匹配 中</p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;">降雨 共改善了 空气质量</p>
                    <p style="font-size:12px;color:#999;text-align:center;"><span style="margin-right:10px;"><span style="font-size:24px;color:#d94e5d;margin-left:5px;margin-right:5px;">2000</span>次</span>占<span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">74.18%</span></p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;">平均降低 AQI 至</p>
                    <p style="font-size:12px;color:#999;text-align:center;"><span style="font-size:24px;color:#d94e5d;margin-left:5px;margin-right:5px;">47.14%</span></p>
                </div>
                <!-- <div id="plot22">
                </div> -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div style="text-align:center;">
                <embed src='http://player.youku.com/player.php/sid/XMTcwODcxMzE4OA==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash' style="margin:0 auto;"></embed>
            </div>
        </div>
    </div>
</div>
<h3 style="text-align:center;margin-bottom:0px;margin-top:80px;">一阵风 赶走不适的 <span style="color:#d94e5d;">雾霾</span></h3>  
<div id="plot3">
    <img src="{{url_for('static', filename='img/shandong.png')}}" alt="" style="position:absolute;z-index:-999;left:40px;top:30px;height:250px;">
    <img src="{{url_for('static', filename='img/jiangsu.png')}}" alt="" style="position:absolute;z-index:-999;left:60px;bottom:30px;width:300px;">
    <svg width="980" height="660">
        <g></g>
    </svg>
    <div id="clear2">清除选择</div>
    <div style="display:inline-block;position:absolute;top:160px;left:50%;margin-left:-44px;">
        <p style="margin-left:57px;">平均风力</p>
        <div>
            <span style="font-size:12px;margin-right:8px;">强</span>
            <img src="{{url_for('static', filename='img/legend1.png')}}" alt="" style="width:120px;height:20px;">
            <span style="font-size:12px;margin-left:8px;">弱</span>
        </div>
    </div>
    <span style="position:absolute;top:270px;left:50%;margin-left:-210px;display:inline-block;text-align:center;font-size:12px;color:#999;line-height:1.5;">数字为风场格点<br/>附近空气监测站数量</span>
    <div id="plot31"></div>
    <div id="plot32"></div>
    <span class="info" style="color:rgba(80, 163, 186, 1);position:absolute;left:410px;bottom:300px;font-size:12px;display:none;">风力</span>
    <span class="info" style="color:rgba(175, 187, 72, 1);position:absolute;left:410px;bottom:110px;font-size:12px;display:none;">风向</span>
    <span id="plot3_date"></span>
</div>
<div id="plot4">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div style="text-align:center;">
                <embed src='http://player.youku.com/player.php/sid/XMTcxNjE2MzM5Mg==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div style="height:400px;position:relative;">
                <h3 style="text-align:center;margin-bottom:40px;padding-top:10px;margin-top:0;">从四面八方 迎来更多的 <span style="color:#d94e5d;">风</span></h3>
                <div id="plot41">
                    <p style="font-size:12px;color:#999;text-align:center;">将<span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">33</span>个 风场格点</p>
                    <p style="font-size:12px;color:#999;text-align:center;">和附近的 空气监测站 <span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">进行匹配</span></p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;"><span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">101</span>对 站点匹配 <span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">1036</span>次 风力匹配 中</p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;">风 共改善了 空气质量</p>
                    <p style="font-size:12px;color:#999;text-align:center;"><span style="margin-right:10px;"><span style="font-size:24px;color:#d94e5d;margin-left:5px;margin-right:5px;">561</span>次</span>占<span style="font-size:16px;color:#88b089;margin-left:5px;margin-right:5px;">54.15%</span></p>
                    <p style="font-size:12px;color:#999;text-align:center;margin-top:35px;">平均降低 AQI 至</p>
                    <p style="font-size:12px;color:#999;text-align:center;"><span style="font-size:24px;color:#d94e5d;margin-left:5px;margin-right:5px;">62.36%</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#nav a').removeClass('active');
    $('#nav #nav4').addClass('active');

    var dataset = eval({{dataset | safe}});
    console.log(dataset);

    var plot1_width = 980;
    var plot1_height = 660;
    var plot1_margins = [30, 40, 30, 40];
    var plot1_rain_colors = d3.interpolate(d3.rgb(234, 199, 54), d3.rgb(80, 163, 186));
    var plot1_aqi_colors1 = d3.interpolate(d3.rgb(84, 164, 182), d3.rgb(231, 198, 57));
    var plot1_aqi_colors2 = d3.interpolate(d3.rgb(231, 198, 57), d3.rgb(207, 91, 100));
    var width1 = 372.7;
    var height1 = 250;
    var minLat1 = 34.39;
    var maxLat1 = 38.41;
    var minLng1 = 114.9;
    var maxLng1 = 122.8;
    var width2 = 300;
    var height2 = 312.3;
    var minLat2 = 30.76;
    var maxLat2 = 35.13;
    var minLng2 = 116.1;
    var maxLng2 = 121.6;

    var plot1_rain_data = [];
    for (var i = 0; i < dataset.json.rain_stat.length; i++) {
        plot1_rain_data.push(i);
    }
    var plot1_rain = d3.select('#plot1 svg g').selectAll('circle.rain').data(plot1_rain_data, function(d) {
        return d;
    });
    plot1_rain.enter().append('circle').attr({
        class: function(d) {
            var tmp = dataset.json.rain_stat[d];
            if (tmp[4] == '山东') {
                return 'rain shandong';
            } else if (tmp[4] == '江苏') {
                return 'rain jiangsu';
            }
        },
        r: function(d) {
            var tmp = dataset.json.rain_stat[d];
            return Math.ceil(Math.sqrt(tmp[3]) * 8 + 1);
        },
        fill: function(d) {
            var tmp = dataset.json.rain_stat[d];
            return plot1_rain_colors(tmp[2]);
        },
        cx: function(d) {
            var tmp = dataset.json.rain_stat[d];
            if (tmp[4] == '山东') {
                return (tmp[0] - minLng1) / (maxLng1 - minLng1) * width1 + plot1_margins[3];
            } else if (tmp[4] == '江苏') {
                return (tmp[0] - minLng2) / (maxLng2 - minLng2) * width2 + plot1_margins[3];
            }
        },
        cy: function(d) {
            var tmp = dataset.json.rain_stat[d];
            if (tmp[4] == '山东') {
                return (maxLat1 - tmp[1]) / (maxLat1 - minLat1) * height1 + plot1_margins[0];
            } else if (tmp[4] == '江苏') {
                return plot1_height - (tmp[1] - minLat2) / (maxLat2 - minLat2) * height2 - plot1_margins[2];
            }
        },
        name: function(d) {
            return dataset.json.rain_stat[d][5];
        }
    });

    var plot1_aqi_data = [];
    for (var i = 0; i < dataset.json.rain_aqi.length; i++) {
        plot1_aqi_data.push(i);
    }
    var plot1_aqi = d3.select('#plot1 svg g').selectAll('circle.aqi').data(plot1_aqi_data, function(d) {
        return d;
    });
    plot1_aqi.enter().append('circle').attr({
        class: function(d) {
            var tmp = dataset.json.rain_aqi[d];
            if (tmp[3] == '山东省') {
                return 'aqi shandong';
            } else if (tmp[3] == '江苏省') {
                return 'aqi jiangsu';
            }
        },
        r: function(d) {
            var tmp = dataset.json.rain_aqi[d];
            return 10 * tmp[2];
        },
        fill: function(d) {
            var tmp = dataset.json.rain_aqi[d];
            if (tmp[2] > 0.5) {
                return plot1_aqi_colors2((tmp[2] - 0.5) * 2);
            }
            else {
                return plot1_aqi_colors1(tmp[2] * 2);
            }
        },
        cx: function(d) {
            var tmp = dataset.json.rain_aqi[d];
            if (tmp[3] == '山东省') {
                return plot1_width - (tmp[0] - minLng1) / (maxLng1 - minLng1) * width1 - plot1_margins[1] - 2;
            } else if (tmp[3] == '江苏省') {
                return plot1_width - (tmp[0] - minLng2) / (maxLng2 - minLng2) * width2 - plot1_margins[1] - 2;
            }
        },
        cy: function(d) {
            var tmp = dataset.json.rain_aqi[d];
            if (tmp[3] == '山东省') {
                return (maxLat1 - tmp[1]) / (maxLat1 - minLat1) * height1 + plot1_margins[0] - 2;
            } else if (tmp[3] == '江苏省') {
                return plot1_height - (tmp[1] - minLat2) / (maxLat2 - minLat2) * height2 - plot1_margins[2] - 2;
            }
        },
        name: function(d) {
            return dataset.json.rain_aqi[d][4];
        }
    });

    var rect_width = 50.0;
    var rect_height = 40.0;
    var plot1_rain_rect = d3.select('#plot1 svg g').selectAll('rect.rain').data([1], function(d) {
        return d;
    })
    plot1_rain_rect.enter().append('rect').attr({
        x: plot1_margins[3] + width1 / 2 - rect_width / 2,
        y: plot1_margins[0] + height1 / 2 - rect_height / 2,
        width: rect_width,
        height: rect_height,
        'stroke-width': 2,
        stroke: '#eee',
        fill: 'rgba(0,0,0,0)',
        class: 'rain'
    });
    var plot1_aqi_rect = d3.select('#plot1 svg g').selectAll('rect.aqi').data([1], function(d) {
        return d;
    })
    plot1_aqi_rect.enter().append('rect').attr({
        x: plot1_width - plot1_margins[1] - width1 / 2 - rect_width / 2,
        y: plot1_margins[0] + height1 / 2 - rect_height / 2,
        width: rect_width,
        height: rect_height,
        'stroke-width': 2,
        stroke: '#eee',
        fill: 'rgba(0,0,0,0)',
        class: 'aqi'
    });

    function moveTo(source, name, x, y, lng1, lng2, lat1, lat2) {
        plot11_option.series = [];
        plot11_option.yAxis[0].axisLabel.show = true;
        plot11_option.yAxis[1].axisLabel.show = true;
        if (source == 'left') {
            plot1_rain_rect.transition().duration(600).attr({
                x: x - rect_width / 2,
                y: y - rect_height / 2
            });
            plot1_aqi_rect.transition().duration(600).attr({
                x: plot1_width - plot1_margins[1] - (x - plot1_margins[3]) - rect_width / 2,
                y: y - rect_height / 2
            });

            var matched = {};
            for (var key in dataset.json.rain_filter.aqis) {
                var value = dataset.json.rain_filter.aqis[key];
                if (value['lng'] >= lng1 && value['lng'] <= lng2 && value['lat'] >= lat1 && value['lat'] <= lat2) {
                    matched[value['name']] = 1;

                    var flag = false;
                    for (var i = 0; i < dataset.json.rain_filter.aqis[value['name']].data.length; i++) {
                        if (dataset.json.rain_filter.aqis[value['name']].data[i] != 0) {
                            flag = true;
                            break;
                        }
                    }
                    if (flag) {
                        plot11_option.series.push({
                            name: value['name'] + ' 空气质量',
                            type: 'line',
                            symbol: 'none',
                            showSymbol: false,
                            smooth: true,
                            data: dataset.json.rain_filter.aqis[value['name']].data,
                            yAxisIndex: 1,
                            lineStyle: {
                                normal: {
                                    color: 'rgba(217, 78, 93, 0.3)'
                                }
                            }
                        });
                    }
                } else {
                    matched[value['name']] = 0;
                }
            }
            plot11_option.series.push({
                name: name + ' 降雨量',
                type: 'line',
                symbol: 'none',
                showSymbol: false,
                smooth: true,
                data: dataset.json.rain_filter.rains[name].data,
                lineStyle: {
                    normal: {
                        color: 'rgba(80, 163, 186, 0.5)'
                    }
                }
            });
            plot11 = echarts.init(document.getElementById('plot11'), 'dark');
            plot11.setOption(plot11_option);
            plot1_aqi.transition().duration(600).attr('fill-opacity', function(d) {
                if (matched[dataset.json.rain_aqi[d][4]] == 1) {
                    return 1;
                } else {
                    return 0.1;
                }
            });
        } else if (source == 'right') {
            plot1_rain_rect.transition().duration(600).attr({
                x: plot1_width - plot1_margins[1] - (x - plot1_margins[3]) - rect_width / 2,
                y: y - rect_height / 2
            });
            plot1_aqi_rect.transition().duration(600).attr({
                x: x - rect_width / 2,
                y: y - rect_height / 2
            });

            var matched = {};
            for (var key in dataset.json.rain_filter.rains) {
                var value = dataset.json.rain_filter.rains[key];
                if (value['lng'] >= lng1 && value['lng'] <= lng2 && value['lat'] >= lat1 && value['lat'] <= lat2) {
                    matched[value['name']] = 1;

                    var flag = false;
                    for (var i = 0; i < dataset.json.rain_filter.rains[value['name']].data.length; i++) {
                        if (dataset.json.rain_filter.rains[value['name']].data[i] != 0) {
                            flag = true;
                            break;
                        }
                    }
                    if (flag) {
                        plot11_option.series.push({
                            name: value['name'] + ' 降雨量',
                            type: 'line',
                            symbol: 'none',
                            showSymbol: false,
                            smooth: true,
                            data: dataset.json.rain_filter.rains[value['name']].data,
                            lineStyle: {
                                normal: {
                                    color: 'rgba(80, 163, 186, 0.3)'
                                }
                            }
                        });
                    }
                } else {
                    matched[value['name']] = 0;
                }
            }
            plot11_option.series.push({
                name: name + ' 空气质量',
                type: 'line',
                symbol: 'none',
                showSymbol: false,
                smooth: true,
                data: dataset.json.rain_filter.aqis[name].data,
                lineStyle: {
                    normal: {
                        color: 'rgba(217, 78, 93, 0.5)'
                    }
                },
                yAxisIndex: 1,
            });
            plot11 = echarts.init(document.getElementById('plot11'), 'dark');
            plot11.setOption(plot11_option);
            plot1_rain.transition().duration(600).attr('fill-opacity', function(d) {
                if (matched[dataset.json.rain_stat[d][5]] == 1) {
                    return 1;
                } else {
                    return 0.1;
                }
            });
        }
    }

    $('#plot1 svg g').on('click', 'circle.rain', function(event) {
        $('#legend3').fadeIn(600);

        var name = $(this).attr('name');
        plot1_rain.transition().duration(600).attr('fill-opacity', function(d) {
            if (dataset.json.rain_stat[d][5] == name) {
                return 1;
            } else {
                return 0.1;
            }
        });

        var x = $(this).attr('cx');
        var y = $(this).attr('cy');
        var lng1, lng2, lat1, lat2;
        if ($(this).attr('class').indexOf('shandong') >= 0) {
            lng1 = (x - plot1_margins[3]) / width1 * (maxLng1 - minLng1) + minLng1 - rect_width / 2 / width1 * (maxLng1 - minLng1);
            lng2 = (x - plot1_margins[3]) / width1 * (maxLng1 - minLng1) + minLng1 + rect_width / 2 / width1 * (maxLng1 - minLng1);
            lat1 = maxLat1 - (y - plot1_margins[0]) / height1 * (maxLat1 - minLat1) - rect_height / 2 / height1 * (maxLat1 - minLat1);
            lat2 = maxLat1 - (y - plot1_margins[0]) / height1 * (maxLat1 - minLat1) + rect_height / 2 / height1 * (maxLat1 - minLat1);
        } else if ($(this).attr('class').indexOf('jiangsu') >= 0) {
            lng1 = (x - plot1_margins[3]) / width2 * (maxLng2 - minLng2) + minLng2 - rect_width / 2 / width2 * (maxLng2 - minLng2);
            lng2 = (x - plot1_margins[3]) / width2 * (maxLng2 - minLng2) + minLng2 + rect_width / 2 / width2 * (maxLng2 - minLng2);
            lat1 = minLat2 + (plot1_height - plot1_margins[2] - y) / height2 * (maxLat2 - minLat2) - rect_height / 2 / height2 * (maxLat2 - minLat2);
            lat2 = minLat2 + (plot1_height - plot1_margins[2] - y) / height2 * (maxLat2 - minLat2) + rect_height / 2 / height2 * (maxLat2 - minLat2);
        }
        moveTo('left', name, x, y, lng1, lng2, lat1, lat2);
    });

    $('#plot1 svg g').on('click', 'circle.aqi', function(event) {
        $('#legend3').fadeIn(600);

        var name = $(this).attr('name');
        plot1_aqi.transition().duration(600).attr('fill-opacity', function(d) {
            if (dataset.json.rain_aqi[d][4] == name) {
                return 1;
            } else {
                return 0.1;
            }
        });

        var x = $(this).attr('cx');
        var y = $(this).attr('cy');
        var lng1, lng2, lat1, lat2;
        if ($(this).attr('class').indexOf('shandong') >= 0) {
            lng1 = (plot1_width - plot1_margins[1] - x) / width1 * (maxLng1 - minLng1) + minLng1 - rect_width / 2 / width1 * (maxLng1 - minLng1);
            lng2 = (plot1_width - plot1_margins[1] - x) / width1 * (maxLng1 - minLng1) + minLng1 + rect_width / 2 / width1 * (maxLng1 - minLng1);
            lat1 = maxLat1 - (y - plot1_margins[0]) / height1 * (maxLat1 - minLat1) - rect_height / 2 / height1 * (maxLat1 - minLat1);
            lat2 = maxLat1 - (y - plot1_margins[0]) / height1 * (maxLat1 - minLat1) + rect_height / 2 / height1 * (maxLat1 - minLat1);
        } else if ($(this).attr('class').indexOf('jiangsu') >= 0) {
            lng1 = (plot1_width - plot1_margins[1] - x) / width2 * (maxLng2 - minLng2) + minLng2 - rect_width / 2 / width2 * (maxLng2 - minLng2);
            lng2 = (plot1_width - plot1_margins[1] - x) / width2 * (maxLng2 - minLng2) + minLng2 + rect_width / 2 / width2 * (maxLng2 - minLng2);
            lat1 = minLat2 + (plot1_height - plot1_margins[2] - y) / height2 * (maxLat2 - minLat2) - rect_height / 2 / height2 * (maxLat2 - minLat2);
            lat2 = minLat2 + (plot1_height - plot1_margins[2] - y) / height2 * (maxLat2 - minLat2) + rect_height / 2 / height2 * (maxLat2 - minLat2);
        }
        moveTo('right', name, x, y, lng1, lng2, lat1, lat2);
    });

    $('#clear').click(function(event) {
        $('#legend3').fadeOut(600);

        plot1_rain.transition().duration(600).attr('fill-opacity', 1);
        plot1_aqi.transition().duration(600).attr('fill-opacity', 1);
        plot1_rain_rect.transition().duration(600).attr({
            x: plot1_margins[3] + width1 / 2 - rect_width / 2,
            y: plot1_margins[0] + height1 / 2 - rect_height / 2,
        });
        plot1_aqi_rect.transition().duration(600).attr({
            x: plot1_width - plot1_margins[1] - width1 / 2 - rect_width / 2,
            y: plot1_margins[0] + height1 / 2 - rect_height / 2,
        });
        plot11_option.yAxis[0].axisLabel.show = false;
        plot11_option.yAxis[1].axisLabel.show = false;
        plot11_option.series = [];
        plot11 = echarts.init(document.getElementById('plot11'), 'dark');
        plot11.setOption(plot11_option);
    });

    var plot11 = echarts.init(document.getElementById('plot11'), 'dark');
    var plot11_option = {
        tooltip: {
            trigger: 'axis',
            formatter: function(params) {
                var str = params[0].name + '<br/>';
                for (var i = 0; i < params.length; i++) {
                    if (params[i]['seriesName'].indexOf('降雨量') >= 0) {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(80, 163, 186, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                    else {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(217, 78, 93, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                }
                return str;
            }
        },
        grid: {
            left: 40,
            right: 50,
            top: 25,
            bottom: 10
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: false
            },
            data: dataset.json.rain_filter.times
        },
        yAxis: [{
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(80, 163, 186, 1)'
                }
            },
        }, {
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(217, 78, 93, 1)'
                }
            }
        }],
        series: []
    };
    plot11.setOption(plot11_option);

    // var plot22 = echarts.init(document.getElementById('plot22'), 'dark');
    // option = {
    // 	grid: {
    //         left: 60,
    //         right: 20,
    //         top: 25,
    //         bottom: 30
    //     },
    //     xAxis: [{
    //         type: 'value',
    //         scale: true,
    //         splitLine: {
    //             show: false
    //         }
    //     }],
    //     yAxis: [{
    //         type: 'value',
    //         scale: true,
    //     }],
    //     series: [{
    //         name: '降雨量和改善程度',
    //         type: 'scatter',
    //         data: dataset.json.rain_easing,
    //     }]
    // };
    // plot22.setOption(option);

    var plot3_wind_data = [];
    for (var i = 0; i < dataset.json.wind_stat.length; i++) {
        plot3_wind_data.push(i);
    }
    var plot3_wind = d3.select('#plot3 svg g').selectAll('rect.wind').data(plot3_wind_data, function(d){
        return d;
    });
    plot3_wind.enter().append('rect').attr({
        class: 'wind',
        x: function(d){
            var tmp = dataset.json.wind_stat[d];
            var key = tmp[0];
            var lng = key.split('_')[0];
            var tx;
            var province = key.split('_')[2];
            if (province == '山东') {
                return (lng - minLng1) / (maxLng1 - minLng1) * width1 + plot1_margins[3] - 1.5 * tmp[1][1] / tmp[1][0];
            } else if (province == '江苏') {
                return (lng - minLng2) / (maxLng2 - minLng2) * width2 + plot1_margins[3] - 1.5 * tmp[1][1] / tmp[1][0];
            }
        },
        y: function(d){
            var tmp = dataset.json.wind_stat[d];
            var key = tmp[0];
            var lat = key.split('_')[1];
            var ty;
            var province = key.split('_')[2];
            if (province == '山东') {
                return (maxLat1 - lat) / (maxLat1 - minLat1) * height1 + plot1_margins[0] - 1.5 * tmp[1][1] / tmp[1][0];
            } else if (province == '江苏') {
                return plot1_height - (lat - minLat2) / (maxLat2 - minLat2) * height2 - plot1_margins[2] - 1.5 * tmp[1][1] / tmp[1][0];
            }
        },
        width: function(d){
            var tmp = dataset.json.wind_stat[d];
            return 3 * tmp[1][1] / tmp[1][0];
        },
        height: function(d){
            var tmp = dataset.json.wind_stat[d];
            return 3 * tmp[1][1] / tmp[1][0];
        },
        name: function(d){
            return dataset.json.wind_stat[d][0];
        },
        fill: function(d){
            return plot1_rain_colors(dataset.json.wind_stat[d][1][2]);
        }
    });
    var plot3_text = d3.select('#plot3 svg g').selectAll('text').data(plot3_wind_data, function(d){
        return d;
    });
    plot3_text.enter().append('text').attr({
        x: function(d){
            var tmp = dataset.json.wind_stat[d];
            var key = tmp[0];
            var lng = key.split('_')[0];
            var tx;
            var province = key.split('_')[2];
            if (province == '山东') {
                return (lng - minLng1) / (maxLng1 - minLng1) * width1 + plot1_margins[3];
            } else if (province == '江苏') {
                return (lng - minLng2) / (maxLng2 - minLng2) * width2 + plot1_margins[3];
            }
        },
        y: function(d){
            var tmp = dataset.json.wind_stat[d];
            var key = tmp[0];
            var lat = key.split('_')[1];
            var ty;
            var province = key.split('_')[2];
            if (province == '山东') {
                return (maxLat1 - lat) / (maxLat1 - minLat1) * height1 + plot1_margins[0] - 1.5 * tmp[1][1] / tmp[1][0] - 8;
            } else if (province == '江苏') {
                return plot1_height - (lat - minLat2) / (maxLat2 - minLat2) * height2 - plot1_margins[2] - 16;
            }
        },
        'text-anchor': 'middle',
        fill: '#fff',
        'font-size': 12
    }).text(function(d){
        return dataset.json.wind_stat[d][1][3];
    });

    var plot3_mask = d3.select('#plot3 svg g').selectAll('rect.mask').data([1], function(d){
        return d;
    })

    plot3_mask.enter().append('rect').attr({
        x: plot1_width - 2 * plot1_margins[1] - 240,
        y: 2 * plot1_margins[0],
        width: 240,
        height: 180,
        'stroke-width': 2,
        stroke: '#eee',
        fill: 'rgba(20, 20, 20, 0.6)',
        class: 'mask'
    });

    // d3.select('#plot3 svg g').selectAll('path').data([1]).enter().append('path').attr({
    //     d: "M450 350 L900 350",
    //     'stroke-width': 1,
    //     stroke: '#999',
    //     'shape-rendering': 'crispEdges',
    //     'stroke-dasharray': '10, 10'
    // });

    function wind_animate(name) {
        $('.info').fadeIn(600);
        $('#plot3_date').fadeIn(600);
        clearInterval(plot3_interval);

        plot3_mask.transition().duration(600).attr('fill', 'rgba(20, 20, 20, 0)');
        var target;
        for (var i = 0; i < dataset.json.wind_stat.length; i++) {
            if (dataset.json.wind_stat[i][0] == name) {
                target = dataset.json.wind_stat[i][1];
                break;
            }
        }

        var lng = parseFloat(name.split('_')[0]);
        var lat = parseFloat(name.split('_')[1]);
        var pro = name.split('_')[2];
        var matched = [];
        for (var key in dataset.json.rain_filter.aqis) {
            var tmp = dataset.json.rain_filter.aqis[key];
            if (Math.abs(tmp['lng'] - lng) <= 0.52 && Math.abs(tmp['lat'] - lat) <= 0.31) {
                matched.push(key);
            }
        }

        $('#plot3 svg g polygon.selected').remove();
        $('#plot3 svg g circle.selected').remove();

        var plot3_selected_rect = d3.select('#plot3 svg g').selectAll('polygon.selected').data([1], function(d){
            return d;
        })
        plot3_selected_rect.enter().append('polygon').attr({
            class: 'selected',
            'fill-opacity': 1,
            'points': '',
            fill: plot1_rain_colors(target[2]),
            
        });
        var plot3_selected_circle = d3.select('#plot3 svg g').selectAll('circle.selected').data(matched, function(d){
            return d;
        })
        plot3_selected_circle.enter().append('circle').attr({
            class: 'selected',
            cx: function(d){
                return plot1_width - 2 * plot1_margins[1] - (lng + 0.53 - dataset.json.rain_filter.aqis[d]['lng']) * 120 / 0.53 - 2;
            },
            cy: function(d){
                return 2 * plot1_margins[0] + (lat + 0.32 - dataset.json.rain_filter.aqis[d]['lat']) * 90 / 0.32 - 2;
            },
            r: 0,
            'fill-opacity': 1,
            fill: function(d){
                for (var j = 0; j < dataset.json.rain_aqi.length; j++) {
                    if (dataset.json.rain_aqi[j][4] == d) {
                        var t = dataset.json.rain_aqi[j][2];
                        if (t > 0.5) {
                            return plot1_aqi_colors2((t - 0.5) * 2);
                        }
                        else {
                            return plot1_aqi_colors1(t * 2);
                        }
                    }
                }
            },
        });
        
        var idx = 0;
        var tmp = dataset.json.wind_filter[name].data;
        // var plot3_arrows = d3.select('#plot3 svg g').selectAll('polygon.arrow').data([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29], function(d){
        //     return d;
        // });
        // plot3_arrows.enter().append('polygon').attr({
        //     class: 'arrow',
        //     'fill-opacity': 1,
        //     'points': '',
        //     fill: plot1_rain_colors(target[2]),
        // });

        plot3_interval = setInterval(function(){
            if (idx == 30) {
                clearInterval(plot3_interval);
            }
            else {
                plot3_selected_rect.transition().duration(400).attr({
                    'points': function(d){
                        var str = '';
                        var angle = (450 - tmp[0][idx]) % 360;
                        angle = angle * Math.PI / 180;
                        var baseX = plot1_width - 2 * plot1_margins[1] - 120;
                        var baseY = 2 * plot1_margins[0] + 90;
                        str += (baseX + parseInt(tmp[1][idx] * 10 * Math.cos(angle))).toString() + ',' + (baseY - parseInt(tmp[1][idx] * 10 * Math.sin(angle))).toString();
                        str += ' ' + (baseX + parseInt(6 * Math.cos(angle + Math.PI / 2))).toString() + ',' + (baseY - parseInt(6 * Math.sin(angle + Math.PI / 2))).toString();
                        str += ' ' + (baseX + parseInt(6 * Math.cos(angle - Math.PI / 2))).toString() + ',' + (baseY - parseInt(6 * Math.sin(angle - Math.PI / 2))).toString();
                        return str;
                    },
                    'fill': function(d){
                        return plot1_rain_colors(tmp[1][idx] / 10);
                    }
                });
                plot3_selected_circle.transition().duration(400).attr({
                    r: function(d){
                        return dataset.json.rain_filter.aqis[d].data[idx] / 30
                    },
                    fill: function(d){
                        var t = dataset.json.rain_filter.aqis[d].data[idx] / 400;
                        if (t > 0.5) {
                            return plot1_aqi_colors2((t - 0.5) * 2);
                        }
                        else {
                            return plot1_aqi_colors1(t * 2);
                        }
                    }
                });
                setTimeout(function(){
                    if (idx < 10) {
                        $('#plot3_date').text('12-0' + idx);
                    }
                    else {
                        $('#plot3_date').text('12-' + idx);
                    }
                }, 200);
            }
            idx += 1;

        }, 400);

        // plot3_arrows.transition().delay(function(d, i){
        //     return 600 + i * 400;
        // }).duration(400).attr({
        //     'points': function(d, i){
        //         var str = '';
        //         var angle = (450 - tmp[0][i]) % 360;
        //         console.log(tmp[0][i], angle);
        //         angle = angle * Math.PI / 180;
        //         var baseX = 450;
        //         var baseY = 350;
        //         str += (i * 450 / 29 + baseX + parseInt(tmp[1][i] * 10 * Math.cos(angle))).toString() + ',' + (baseY - parseInt(tmp[1][i] * 10 * Math.sin(angle))).toString();
        //         str += ' ' + (i * 450 / 29 + baseX + parseInt(6 * Math.cos(angle + Math.PI / 2))).toString() + ',' + (baseY - parseInt(6 * Math.sin(angle + Math.PI / 2))).toString();
        //         str += ' ' + (i * 450 / 29 + baseX + parseInt(6 * Math.cos(angle - Math.PI / 2))).toString() + ',' + (baseY - parseInt(6 * Math.sin(angle - Math.PI / 2))).toString();
        //         return str;
        //         return '';
        //     },
        //     'fill': function(d, i){
        //         return plot1_rain_colors(tmp[1][i] / 10);
        //     }
        // });

        
        plot31_option.series = [];
        plot31_option.yAxis[0].axisLabel.show = true;
        plot31_option.yAxis[1].axisLabel.show = true;
        
        plot32_option.series = [];
        plot32_option.yAxis[0].axisLabel.show = true;
        plot32_option.yAxis[1].axisLabel.show = true;

        for (var key in dataset.json.rain_filter.aqis) {
            var value = dataset.json.rain_filter.aqis[key];
            if (Math.abs(value['lng'] - lng) <= 0.52 && Math.abs(value['lat'] - lat) <= 0.31) {
                plot31_option.series.push({
                    name: key + ' 空气质量',
                    type: 'line',
                    symbol: 'none',
                    showSymbol: false,
                    smooth: true,
                    data: value['data'],
                    lineStyle: {
                        normal: {
                            color: 'rgba(217, 78, 93, 0.3)'
                        }
                    },
                    yAxisIndex: 1
                });
                plot32_option.series.push({
                    name: key + ' 空气质量',
                    type: 'line',
                    symbol: 'none',
                    showSymbol: false,
                    smooth: true,
                    data: value['data'],
                    lineStyle: {
                        normal: {
                            color: 'rgba(217, 78, 93, 0.3)'
                        }
                    },
                    yAxisIndex: 1
                });
            }
        }

        plot31_option.series.push({
            name: name + ' 风力',
            type: 'line',
            symbol: 'none',
            showSymbol: false,
            smooth: true,
            data: tmp[1],
            lineStyle: {
                normal: {
                    color: 'rgba(80, 163, 186, 0.5)'
                }
            },
        });
        for (var i = 0; i < tmp[0].length; i++) {
            if (tmp[0][i] > 180) {
                tmp[0][i] -= 360;
            }
        }
        plot32_option.series.push({
            name: name + ' 风向',
            type: 'line',
            symbol: 'none',
            showSymbol: false,
            smooth: true,
            data: tmp[0],
            lineStyle: {
                normal: {
                    color: 'rgba(175, 187, 72, 0.5)'
                }
            },
        });
        
        plot31 = echarts.init(document.getElementById('plot31'), 'dark');
        plot31.setOption(plot31_option);
        plot32 = echarts.init(document.getElementById('plot32'), 'dark');
        plot32.setOption(plot32_option);
    }

    var plot3_interval;
    $('#plot3 svg g').on('click', 'rect.wind', function(event) {
        event.preventDefault();
        var name = $(this).attr('name');
        plot3_wind.transition().duration(600).attr({
            'fill-opacity': function(d){
                if (dataset.json.wind_stat[d][0] == name) {
                    return 1;
                }
                else {
                    return 0.1;
                }
            }
        });

        wind_animate(name);
    });

    var plot31 = echarts.init(document.getElementById('plot31'), 'dark');
    var plot31_option = {
        tooltip: {
            trigger: 'axis',
            formatter: function(params) {
                var str = params[0].name + '<br/>';
                for (var i = 0; i < params.length; i++) {
                    if (params[i]['seriesName'].indexOf('风力') >= 0) {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(80, 163, 186, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                    else if (params[i]['seriesName'].indexOf('风向') >= 0) {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(175, 187, 72, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                    else {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(217, 78, 93, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                }
                return str;
            }
        },
        grid: {
            left: 40,
            right: 50,
            top: 25,
            bottom: 10
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: false
            },
            data: dataset.json.rain_filter.times
        },
        yAxis: [{
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(80, 163, 186, 1)'
                }
            },
        }, {
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(217, 78, 93, 1)'
                }
            }
        }],
        series: []
    };
    plot31.setOption(plot31_option);

    var plot32 = echarts.init(document.getElementById('plot32'), 'dark');
    var plot32_option = {
        tooltip: {
            trigger: 'axis',
            formatter: function(params) {
                var str = params[0].name + '<br/>';
                for (var i = 0; i < params.length; i++) {
                    if (params[i]['seriesName'].indexOf('风力') >= 0) {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(80, 163, 186, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                    else if (params[i]['seriesName'].indexOf('风向') >= 0) {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(175, 187, 72, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                    else {
                        str += params[i]['seriesName'] + '：<span style="color:rgba(217, 78, 93, 1);">' + params[i]['value'] + '</span><br/>';
                    }
                }
                return str;
            }
        },
        grid: {
            left: 40,
            right: 50,
            top: 25,
            bottom: 10
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: false
            },
            data: dataset.json.rain_filter.times
        },
        yAxis: [{
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(175, 187, 72, 1)'
                }
            },
        }, {
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: false,
                textStyle: {
                    color: 'rgba(217, 78, 93, 1)'
                }
            }
        }],
        series: []
    };
    plot32.setOption(plot32_option);

    $('#clear2').click(function(event) {
        plot3_wind.transition().duration(600).attr({
            'fill-opacity': 1
        });
        plot3_mask.transition().duration(600).attr('fill', 'rgba(20, 20, 20, 0.6)');
        $('#plot3 svg g polygon.selected').remove();
        $('#plot3 svg g circle.selected').remove();
        clearInterval(plot3_interval);
        
        $('.info').fadeOut(600);
        $('#plot3_date').fadeOut(600);

        plot31_option.yAxis[0].axisLabel.show = false;
        plot31_option.yAxis[1].axisLabel.show = false;
        plot31_option.series = [];
        plot31 = echarts.init(document.getElementById('plot31'), 'dark');
        plot31.setOption(plot31_option);

        plot32_option.yAxis[0].axisLabel.show = false;
        plot32_option.yAxis[1].axisLabel.show = false;
        plot32_option.series = [];
        plot32 = echarts.init(document.getElementById('plot32'), 'dark');
        plot32.setOption(plot31_option);
    });
});
</script>
{% endblock %}